body{
  margin:0;
  padding: 0;
  background-color:black;
  color:white;
}

.txt{
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: lighter;

}
#body{
  width:100%;
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  transition: 0.3s;
}

.light{
  background-color:white;
  color:black;
}

#changeBackground{
  position:absolute;
  top: 0;
  transform: translateX(-50%);
  background-color:white;
  color:black;
  padding: 5px 10px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-dark{
  background-color: black !important;
  color: white !important;
}
