body{
  margin:0;
  padding: 0;
}

#body{
  width:100%;
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  transition: 0.3s;
}
.dark{
background-color:black;
color:white;
}
#changeBackground{
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  position:absolute;
  padding: 5px 10px;
  background-color:black;
  color:white;
  transition: 0.3s;
  border-radius: 25px;
  cursor: pointer;
}
